
.buttontxt {
    font-size: 16px;
}

#nav-title {
    margin-left: 1%;
}

#addForm {
    margin-left: 1%;
    margin-right: auto;
}

.addContainer {
    padding: 0;
    margin-right: 0;
}

#addForm {
    width: 90%;
}

#pwList {
    margin-left: auto; 
    margin-right: 1%;
}

.pwContainer {
    padding: 0;
}

#pwList {
    width: 95%;
}

.pw_inputs {
    display: block;
}

.add_input {
    display: block;
}

h1, h2 {
    font-size: 45px;
}