
.homeimg {
    width: 45%;
    height: auto;
    margin-right: 50px;
}

#homeline {
    transform: rotate(120deg) translateY(-300px) translateX(310px);
    /* width: 1400px; */
    width: 1000px;
    height: 25px;
    background: #b7d0e2;
    border: none;
    background-image: linear-gradient(to right, #ccc, #095484, #ccc);
}

.homebutton {
    margin-top: 22%;
    margin-left: 25%;
    width: 185px;
    height: 65px;
    vertical-align: middle;
}
